.text-brand {
    color: var(--bakery-landing-1-c2);
}

.text-brand-dark {
    color: var(--bakery-landing-1-s3);
}

.text-bold {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}