.button {
    display: block;
    padding: 16px 32px;
    color: var(--bakery-landing-1-background);
    font-weight: 600;
    font-size: 18px;
    background: var(--bakery-landing-1-c2);
    border: 2px solid var(--bakery-landing-1-c2);
    border-radius: 8px;

    &:hover {
        background-color: transparent;
        color: var(--bakery-landing-1-s3);
    }
}


