.advantages-section {
    background-color: var(--bakery-landing-1-c2);
    padding: 16px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    &__item {
        font-weight: 300;
        font-size: 20px;
        color: var(--bakery-landing-1-background);
    }
}



