.advantages-section {
    padding-top: 40px;    

    @media screen and (min-width: $bp-tablet) {
        padding: 16px 0;
        background-color: var(--bakery-landing-1-c2);
        border-radius: 0;
        margin-top: 0;
    }
    
    &__list {

        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px 40px;
        background-color: var(--bakery-landing-1-c5);
        border-radius: 24px;


        @media screen and (min-width: $bp-tablet) {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;
            padding: 0;
        }

    }
    &__item {
        font-size: 14px;
        font-weight: 300;
        margin: 0 auto;

        @media screen and (min-width: $bp-tablet) {
            color: var(--bakery-landing-1-background);
            font-size: 20px;
            text-align: center;
        }
    }
}



