.contact-section {
  padding-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
    line-height: 1.3;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      margin-bottom: 16px;
    }
  }

  &__text {
    color: var(--bakery-landing-1-s3);
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 42px;
    }
  }

  &__form-field {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__map {
    flex-shrink: 0;
    margin: 0 -24px;
    height: 176px;
    border: none;
    border-radius: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 500px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto 16px;
    }
  }
}
