.footer {
  position: relative;
  background-image: url("../images/footer-blur.png");
  background-color: var(--bakery-landing-1-s1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 20px;
    }
  }
  &__nav,
  &__address {
    text-align: center;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
      gap: 20px;
    }
  }

  &__logo {
    flex-grow: 1;
    margin-bottom: 32px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0;
    }
  }
  &__link {
    margin-bottom: 14px;
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }
  &__menu {
    flex-grow: 1;
  }
  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    content: "";
  }

  &::before {
    background-image: url(../images/bread_3.svg);
    width: 136px;
    height: 232px;
    bottom: 260px;
    left: -60px;
    transform: scale(0.5);

    @media screen and (min-width: $bp-tablet) {
      width: 180px;
      height: 120px;
      right: 0;
      bottom: 0;
      transform: scale(1);
    }
  }

  &::after {
    background-image: url(../images/footer-bread-right.svg);
    right: -140px;
    bottom: -48px;
    width: 380px;
    height: 190px;
    transform: scale(0.5);

    @media screen and (min-width: $bp-tablet) {
      right: 0;
      bottom: 0;
      transform: scale(1);
    }
  }

  &__address--list {
    flex-grow: 1;
  }
  &__address--info {
    flex-grow: 1;
  }
  &__address--link {
    font-weight: 300;
    font-size: 14px;
    color: var(--bakery-landing-1-background);
    text-decoration: none;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }

    &:hover {
      color: var(--bakery-landing-1-c2);
    }
  }
  &__address--icon {
    fill: var(--bakery-landing-1-background);
  }
  &__address--copyright {
    font-size: 12px;
    color: var(--bakery-landing-1-s4);
    margin-top: -8px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 14px;
    }
  }
}

// .social-media-icons {
//   display: flex;
//   flex-direction: row;
//   gap: 22px;
// }
